<h1 class="text-center">Hooray, your email has been verified!</h1>

<p class="text-center">
  <a class="btn btn-primary go-to-cloud" href="<%=files_path%>">Go to my cloud <i class="fa fa-chevron-right"></i></a>
</p>
