<%- title "My files" %>


<% if current_user.verified? %>
  <h3>My files</h3>
  <%= render 'list' %>
<% else %>
  <div class="text-center">
    <h1><i class="fa fa-envelope-o"></i></h1>
    <h3>Please verify your email address to see your files on Docloud</h3>
  </div>
<% end %>

  